.orangebox {
  height: 160px;
  background-color: var(--orange_color);
  padding: 15px 30px;
  margin-bottom: 150px;
}

.mid_container {
  height: 300px;
  width: 1280px;
  margin: auto;
  position: relative;
}

.mid_container h2{
  font-family: "Stag-italic";
}

.orangebox .main_catg {
  position: absolute;
  top: 70px;
  left: 150px;
}

.orangebox .catg_div {
  height: 180px;
  width: 110px;
  margin: 0 10px;
}
.orangebox .catg_div img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 400ms;
}
.orangebox .catg_div p {
  width: 100px;
  margin: auto;
  font-weight: 600;
  text-align: center;
}
.main_catg .catg_div:hover.catg_div img{
  transform: scale(1.1);
  transition: 400ms;
  cursor: pointer;
}
.main_catg .catg_div:hover.catg_div p{
  color: rgba(0, 0, 0, 0.667);
}
.main_catg .catg_div:hover.catg_div{
 border-bottom: 1px solid;
}
.categories_div{
  height: 260px;
  width: 195px;
}
.categories_div:hover img{
  box-shadow: -1px 2px 5px 1px gray;
  cursor: pointer;
}
.categories_div img{
  width: 195px;
  height: 245px;
  border-radius: 15px;
  margin-bottom: 8px;
}
