*{
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  width: 100%;
}

@font-face {
  font-family: "Stag-italic";
  src: url("./assets/StagLight.woff");
  font-weight: 600;
}

:root{
  --orange_color : #f19d27;
  --footer_mail : #ccebff;
  --footer_renewable:#3b67d9;
  --footer_background: #2638c0;
  --footer_app: #122868;
}

.center_container{
  width: 1300px;
  margin: auto;
}


@media screen and (max-width:768px) {
  .center_container{
    width: 100%;
    padding: 0 12px;
  }
}