.mail_container{
    background-color:var(--footer_mail);
}
.center_container p{
   font-weight: 500;
}

.mail_div{
    margin: auto;
    width: 450px;
    height: 45px;
    border: 1px solid gray;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}

.mail_div input{
    width: 350px;
    height: 45px;
    padding: 4px 15px;
    border: none;
}
.mail_div button{
    height: 45px;
    width: 100px;
    border: none;
    background-color: white;
    font-weight: 600;
}
.mail_div button:hover{
    background-color: #2c2c2c;
    color: white;
}
.renewable_container{
background-color: var(--footer_renewable);
}

.renewable_container .center_container .image{
    width: 40px;
    height: 40px;
    filter: invert();
}
.renewable_container .center_container p{
    font-size: 18px;
    font-weight: 400;
text-decoration: underline dotted;
}
.footer_main_container{
    background-color: var(--footer_background);
}
.footer_container .footer_main_container .grid_container{
    width: 1400px;
    margin: auto;
}
.footer_container .footer_main_container .grid_container .app_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--footer_app);
    height: 350px;
}
.footer_container .footer_main_container .grid_container .app_container img{
    height: 70px;
    width: 70px;
    border-radius: 15px;
    /* margin-top: 20px; */
}
.footer_container .footer_main_container .grid_container .app_container .app_link{
    display: inline-block;
    color: white;
    background-color: var(--footer_background);
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.footer_container .footer_main_container .grid_container .row .f_list ul{
    padding-left: 0;
    list-style: none;
}
.footer_container .footer_main_container .grid_container .row .f_list ul li a{
    color: white;
    font-size: 13px;
    padding: 7px 0;
}

.footer_end_container{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: auto;
    padding: 25px;
    font-size: 13px;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width:768px) {
    .footer_container .footer_main_container .grid_container {
        width: 100%;
        margin: auto;
    }
    .footer_container .footer_main_container .grid_container .app_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        background-color: var(--footer_app);
        width: 100%;
        height: 100px;
    }
    .footer_container .footer_main_container .grid_container .app_container img {
        height: 60px;
        width: 60px;
        border-radius: 15px;
        /* margin-top: 20px; */
    }
    .footer_container .footer_main_container .grid_container .app_container .app_link {
        display: inline-block;
        color: white;
        background-color: var(--footer_background);
        padding: 8px 10px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 0;
    }
    
.mail_div {
    margin: auto;
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}
    
.mail_div input {
    width: 100%;
    height: 45px;
    padding: 4px 15px;
    border: none;
}
.footer_end_container{
    width: 100%;
    flex-direction: column;
}
.footer_container .footer_main_container .grid_container .row .f_list ul{
    max-height: 0;
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 0;
}
}
